@using ConsoleAppStart.model;
@{
    ViewBag.Title = "Клиенты за последний месяц";
}
@model  List<Client>
    <h2>@ViewBag.Title.</h2>
   
    @foreach (var item in Model)
    {
        <div>@item.FIO</div>
    }
  
