@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="https://sun9-32.userapi.com/c858028/v858028984/15c1a0/2LDAwPqnZ3w.jpg" width="100%" height="600"
         alt="Иллюстрация" align="left"
         vspace="5" hspace="5">
</div>

@*<div class="news"><img src="http://www.ra-ex.com/uploads/posts/2018-04-04/news-1-1.jpg" width="250" height="230"
     alt="Иллюстрация" align="left"
     vspace="5" hspace="5">
    У рекламного агентства "Эксклюзив" появилась группа в ВК. Рекламное агентство "Эксклюзив" в ВК - последние новости, скидки и выгодные предложении, а так же интересная информация!

    Подписывайтесь, будет интересно!
    
</div>*@
<style>
    img {
        margin-top: 0;
    }

 </style>

