
@{
    ViewBag.Title = "Новый клиент";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@model ConsoleAppStart.model.Client

@using (Html.BeginForm())
{
    /*        public string FIO { get; set; }
        public string NameCompany { get; set; }
        public string Adres { get; set; }
        public int Tel { get; set; }
        public string City { get; set; }*/

    @Html.AntiForgeryToken()
    
    <div>Фамилия Имя Отчество:</div> <input class="form-control" type="text" name="Model.FIO" value=" " />
    <div>Наименование компании:</div> <input  class="form-control" type="text" name="Model.NameCompany" value=" " />
    <div>Телефон:</div> <input  class="form-control" type="text" name="Model.Adres" value=" " />

    <div>Город:</div> <input  class="form-control" type="text" name="Model.City" value=" " />
    <input type="submit" value="Создать" class="btn btn-default" />

}


